body {
  margin: 0;
  padding: 0;
}
.practice-area textarea {
  width: 49%;
  height: 400px;
  display: inline;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  display: inline;
}

form {
  display: inline;
}

.section-title {
  background-color: rgba(71,236,221,.5);
}

.topic-title {
  background-color: rgba(255,139,138,.5);
}

.topic-content {
  background-color: rgba(0,0,0,.1);
}

#study-status {
  background-color: rgba(255,0,0,.4);
}